<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="data">{{ data.location.name }}</ion-title>
    <ion-title *ngIf="!data">Current weather</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-breadcrumbs>
    <ion-breadcrumb href="/">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-breadcrumb>
    <ion-breadcrumb href="/current">
      <ion-icon slot="start" name="sunny"></ion-icon>
      Current weather
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-header collapse="condense" *ngIf="data">
    <ion-toolbar>
      <ion-title size="large">{{ data.location.country }} / {{ data.location.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="error">
    <ion-item>
      <ion-text color="danger"><h4>{{ error }}</h4></ion-text>
    </ion-item>
  </ion-list>

  <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label  for="cityName" position="floating">City name</ion-label>
      <ion-input type="text" id="cityName" name="cityName" formControlName="cityName" clearInput="true"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" fill="outline">
      <ion-icon slot="icon-only" slot="end" name="search"></ion-icon>
      Search
      <ion-ripple-effect></ion-ripple-effect></ion-button>
  </form>

  <div *ngIf="data" style="margin-top: 20px;">

    <div class="centerix">
      <b>Last updated:</b> {{ data.current.last_updated }}
    </div>

    <ion-card style="background-color: #f3f6f7;">

      <div style="width: 100vw; padding-left: 2px; padding-top: 20px; float: left;">
        <div style="width: 100%; float: left; padding-left: 5vw; padding-right: 5vw; font-weight: normal;">
          {{ data.current.condition.text }}
        </div>
        <div style="padding-left: 5vw; padding-right: 5vw; width: 100vw; float: left;">
          <div style="width: 50%; float: left; padding-top: 5px; font-size: 1.5rem;">NOW</div>
          <div style="width: 40%; float: left; font-size: 2rem; font-weight: bold; text-align: right;">{{ data.current.temp_c }} ℃</div>
        </div>
      </div>

      <div style="clear: both;"></div> 
      
      <div style="padding-left: 20px; padding-top: 10px; padding-bottom: 20px;">
        <div style="width: 50%; float: left; padding-bottom: 20px;">
          <b>Feels like</b> {{ data.current.feelslike_c }} ℃
          <br/>
          <b>PM 2.5</b> {{ data.current.air_quality.pm2_5.toFixed(2) }}
          <br/>
          <b>PM 10</b> {{ data.current.air_quality.pm10.toFixed(2) }}
          <br/>
          <b>Wind</b> {{ data.current.wind_kph }} km/h {{ data.current.wind_dir }}
          <br/>
          <b>Pressure</b> {{ data.current.pressure_mb }} hPa
          <br/>
          <b>Visibility</b> {{ data.current.vis_km }} km
          <br/>
          <b>Humidity</b> {{ data.current.humidity }}%
        </div>
        <div style="width: 50%; float: left; text-align: right; padding-top: 25px; padding-right: 35px;"><img [src]="data.current.condition.icon | safer: 'url'"></div>
      </div>

    </ion-card>

  </div>

  <div *ngIf="!data && !error">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated class="width60"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>