<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="data">{{ data.location.name }}</ion-title>
    <ion-title *ngIf="!data">Forecast weather</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-breadcrumbs>
    <ion-breadcrumb href="/">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-breadcrumb>
    <ion-breadcrumb href="/forecast">
      <ion-icon slot="start" name="stats-chart"></ion-icon>
      Forecast weather
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-header collapse="condense" *ngIf="data">
    <ion-toolbar>
      <ion-title size="large">{{ data.location.country }} / {{ data.location.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="error">
    <ion-item>
      <ion-text color="danger"><h4>{{ error }}</h4></ion-text>
    </ion-item>
  </ion-list>

  <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label  for="cityName" position="floating">City name</ion-label>
      <ion-input type="text" id="cityName" name="cityName" formControlName="cityName" clearInput="true"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" fill="outline">
      <ion-icon slot="icon-only" slot="end" name="search"></ion-icon>
      Search
      <ion-ripple-effect></ion-ripple-effect></ion-button>
  </form>

  <div *ngIf="data" style="margin-top: 20px;">

    <div class="centerix">
      <b>Last updated:</b> {{ data.current.last_updated }}
    </div>

    <div *ngFor="let day of data.forecast.forecastday">

      <ion-card>

        <div style="width: 100vw; padding-left: 2px; padding-top: 20px; float: left;">
          <div style="width: 100%; float: left; padding-left: 5vw; padding-right: 5vw; font-weight: normal;">
            {{ day.day.condition.text }}
          </div>
          <div style="padding-left: 5vw; padding-right: 5vw; width: 100vw; float: left;">
            <div style="width: 50%; float: left; padding-top: 5px; font-size: 1.5rem;">{{ day.date | date:'mediumDate' }}</div>
            <div style="width: 40%; float: left; font-size: 2rem; font-weight: bold; text-align: right;">{{ day.day.avgtemp_c }} ℃</div>
          </div>
        </div>

        <div style="clear: both;"></div> 
        
        <div style="padding-left: 20px; padding-top: 10px; padding-bottom: 20px;">
          <div style="width: 50%; float: left; padding-bottom: 20px;">
              <span><b>{{ day.day.mintemp_c }} ℃ ... {{ day.day.maxtemp_c }} ℃</b></span>
              <br/><br/>
              <b>Wind</b> {{ day.day.maxwind_kph }} km/h
              <br/>
              <b>Sunrise</b> {{ day.astro.sunrise }}
              <br/>
              <b>Sunset</b> {{ day.astro.sunset }}
              <br/>
              <b>Visibility</b> {{ day.day.avgvis_km }} km
              <br/>
              <b>Humidity</b> {{ day.day.avghumidity }}%
              <br/>
              <b>Chance of snow</b> {{ day.day.daily_chance_of_snow }}%
              <br/>
              <b>Chance of rain</b> {{ day.day.daily_chance_of_rain }}%
              <br/>
              <b>Total precip</b> {{ day.day.totalprecip_mm }} mm
          </div>
          <div style="width: 50%; float: left; text-align: right; padding-top: 60px; padding-right: 30px;"><img [src]="day.day.condition.icon | safer: 'url'"></div>
        </div>

        <div style="clear: both; width: 100vw;"></div> 

        <ion-accordion-group>
          <ion-accordion value="colors">
            <ion-item slot="header">
              <ion-label>Hourly forecast</ion-label>
            </ion-item>
        
            <ion-list slot="content">
              <div *ngFor="let hour of day.hour">
                <ion-item>
                <div style="width: 100vw; float: left; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                  <div style="width: 80px; float: left;">
                    {{ hour.time | date:'shortTime':'+0200' }} <img style="width: 50px;" [src]="hour.condition.icon | safer: 'url'">
                  </div>
                  <div style="width: 50%; float: left; padding-top: 30px; font-size: 1.5rem">
                    {{ hour.temp_c }} ℃
                  </div>
                </div>
              </ion-item>
              </div>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>

      </ion-card>

    </div>

  </div>

<div *ngIf="!data && !error">
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated class="width60"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>