<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" *ngIf="data">
    <ion-toolbar>
      <ion-title size="large">{{ data.location?.country }}/{{ data.location?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="data" style="margin: 5px;">
    Weather: {{ data.current?.temp_c }} ℃
  </div>
</ion-content>